.bg {
  position:relative;

  background-image: image-url('bg.jpg');
  background-size: cover;
  min-height:600px;

  box-shadow: 0 2px 3px $blue;

  top:0;

//   background: -webkit-linear-gradient(90deg, #8e9eab 10%, #eef2f3 90%); /* Chrome 10+, Saf5.1+ */
//   background:    -moz-linear-gradient(90deg, #8e9eab 10%, #eef2f3 90%); /* FF3.6+ */
//   background:     -ms-linear-gradient(90deg, #8e9eab 10%, #eef2f3 90%); /* IE10 */
//   background:      -o-linear-gradient(90deg, #8e9eab 10%, #eef2f3 90%); /* Opera 11.10+ */
//   background:         linear-gradient(90deg, #8e9eab 10%, #eef2f3 90%); /* W3C */

}

.bg-search {
  position:absolute;
  min-height:75px;
  background-color: rgba(51,51,51,0.5);
  bottom:0;
  left:0;
  right:0;
  z-index:200;
}

.high_voltage_pages_show_html {
  h1{
    font-size:50px;
    color: white;
    text-shadow: 2px 2px 1px rgba(51, 51, 51, 0.30);
  }

    @media screen and (max-width: 768px) {
      h1 {
        font-size:25px;
      }
      input[type="text"] {
        width: 100% !important;
        font-size:10px;
      }
      .form-group {
        padding-bottom:10px;
      }
    }
}


input[type="text"] {
  width: 330px !important;
}

.announces {

}

.bandeau_gradient {

  background-image:
    radial-gradient(
      circle,
      #58F4CD,
      #32B796
    );

  .mise_en_forme {
    color: #fff;
    font-family: OpenSansLight;
    padding-top: 18px;

    h2 {
      font-size: 32px;
      text-shadow: 1px 2px 0px rgb(82, 134, 29);

    }

    h4 { font-size:20px;}
  }
}