<div class="padded">
  <%= render 'form' %>
</div>

<% content_for(:after_js) do %>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCagXClqmRPr2pEgvjN6GD_QcJmS5i27ZY">
  </script>
<% end %>
