.white_cart {
  border: 1px solid #f3f3f3;
  text-align: left;
  background-color: #fff;
  margin-top: 4px;
  margin-bottom:11px;
  padding: 12px;
  font-size: 13px;
  font-weight: 300;

  a {
    font-size:10px;
    text-transform: uppercase;
  }

  h3 {
    font-size:16px !important;
    color: $gray-light;
    margin-top: 0;
  }

  title {
    text-transform:uppercase;

  }

  img {

    height:154px;
    width:210px;
    float:left;
    padding-right: 20px;
  }

  .no_photo {
    // width:300px;
    // height:300px;

    height:154px;
  }

  .locality {
    font-weight: 300;
    color: #929292;
    line-height: 20px;
    padding-top:5px;
    padding-bottom:5px;
  }

  .category-property {
    font-weight: 900;
    font-size: 18px;
    line-height: 20px;
    display: block;
    color: #333;
    // text-transform:uppercase;
    // width: auto;
    // text-align:center;
    // font-weight:400;
    // font-size:12px;
    // height:36px;
    // background-color: #FB0062;
    // color:white;
    // display:inline-block;
    // padding:11px 17px;
    // margin:20px 0;
  }

  .description {
    padding-bottom:14px;
  }

  .btn-black {
    background-color:#3B5675;
    border-color:#000;
    color: white;
  }
}

.cart {
  display: block;
  padding: 9px;
  line-height: 20px;
  border: 1px solid #E4E4E4;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
  img {
  margin-left: 25px;

}


.cart_content {
  margin-top: 14px;
  color: #32B796;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  min-height: 90px;
  padding-right: 15px;
  line-height: 18px;
  float:left;
  margin-left:30px;

  li:last-child {
    margin-right:0;
  }


}
